<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Adicionando_colunas_em_um_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.date_range('20180101',periods =60,freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(60,5),index= data,columns=list('ABDCE'))
df

                   A         B         D         C         E
2018-01-01  1.391153  0.285898  0.313739  2.616455  0.971879
2018-01-02 -0.687585 -0.860727 -0.021874  0.674508 -0.810226
2018-01-03  1.068180  0.071712  0.040264  0.202015 -0.413125
2018-01-04  1.178959  0.247035 -0.391762  0.108596  2.447354
2018-01-05 -0.872684 -2.202909 -0.862197  0.918032 -0.249015
2018-01-06  0.367839 -1.265289  1.931887 -0.888183 -0.820932
2018-01-07 -0.689094  1.254948 -1.745475  1.384014  0.329737
2018-01-08 -1.236173  0.234557 -0.156486 -0.198936  1.855440
2018-01-09  0.978857 -2.138799 -0.579231  0.901530  1.533030
2018-01-10 -0.389921  0.859550 -1.396112 -1.447600 -0.491322
2018-01-11  0.488546 -0.391018 -0.501616 -0.856631 -0.264429
2018-01-12  1.137318 -1.588038 -0.092199  0.301825 -0.024709
2018-01-13  1.585454  0.101290 -0.821385 -0.879795  1.565179
2018-01-14 -0.293775 -0.460615  0.571490 -1.553108  0.298632
2018-01-15  0.547139  1.854004  0.504507 -1.268414 -1.020472
2018-01-16 -1.714080 -2.185855 -2.040119 -0.242150  0.401447
2018-01-17  0.878884 -0.574193 -0.230231 -0.589904  0.356456
2018-01-18 -0.443149  0.020490 -0.377759 -1.669947 -0.866031
2018-01-19  0.846475  1.037123 -0.866055 -0.131278 -0.133291
2018-01-20 -0.361052 -0.406435  0.506929  0.607794 -0.851662
2018-01-21 -1.132089  0.703131 -0.718057 -0.944033 -0.539259
2018-01-22  0.311254  0.573220 -0.148912 -0.695344  0.108482
2018-01-23 -1.352993 -0.419869  0.775728 -1.292512 -0.101625
2018-01-24 -0.499458 -1.955349 -0.473529 -0.092680  0.077015
2018-01-25 -0.310495 -0.341479  0.391930  1.336942  0.314024
2018-01-26  0.570011 -0.494733 -0.324052 -0.275561  0.976079
2018-01-27 -0.460631 -0.789045  0.051973  0.464090  0.533084
2018-01-28  0.421479  1.791699 -1.625465 -0.847482  0.017767
2018-01-29  0.854299 -1.892516  0.897375  0.124412 -0.302946
2018-01-30 -0.747420 -0.804029 -0.393488  2.399160 -0.536640
2018-01-31  0.032394 -0.435957 -0.853791  1.675856 -1.180664
2018-02-01 -1.651182  1.727924 -0.185344 -0.519559 -0.806317
2018-02-02  0.403665 -0.332728 -0.043988  0.571862 -0.577580
2018-02-03  0.346205 -0.224470  0.220016 -0.200032 -0.324287
2018-02-04  1.216516  0.486400 -0.615811 -0.187715  0.636061
2018-02-05  0.218967 -0.703205  0.044350  1.408798  0.242168
2018-02-06 -0.653774 -0.074249  0.230377 -0.044004 -0.397006
2018-02-07  0.102788  0.557534 -1.520446  1.714345 -1.073364
2018-02-08  1.057408  2.033107  1.840938  0.182704  0.356881
2018-02-09 -1.446368  0.045753  0.974666 -1.160344  1.837293
2018-02-10 -0.472861  0.337010  1.926762  0.284976  0.916700
2018-02-11 -0.092881  2.081270  1.466535 -0.172704 -0.892637
2018-02-12  1.515058 -0.583334 -0.742267  0.395895 -1.643400
2018-02-13 -0.496695 -0.551756  1.062770  0.459190 -0.346515
2018-02-14  0.389932 -0.356481 -0.424987 -0.391106  1.172425
2018-02-15 -0.572517  0.525490 -0.843681  1.590930  1.969269
2018-02-16 -0.393565 -1.996960 -0.259980 -2.730556 -1.706126
2018-02-17 -0.174732  0.209905  0.647262  0.471690 -1.973389
2018-02-18  1.228480  0.426882  0.473288 -2.025671  0.757546
2018-02-19 -0.790737 -0.244819  0.850743 -0.059841  0.659687
2018-02-20 -0.591581 -0.028453  0.100272 -0.230494  1.113550
2018-02-21 -0.802375 -1.104379  0.575797  0.818554 -0.424942
2018-02-22  0.132834 -2.402571 -0.107803  0.317723  0.950769
2018-02-23 -0.593523 -0.228793  0.885987  0.523781 -0.022510
2018-02-24  0.584101 -0.306955  0.204060 -1.494243  0.850015
2018-02-25  0.957742 -0.522987  0.584965  0.443832 -0.132488
2018-02-26  1.016319 -2.395081  0.634484  0.775986 -1.102586
2018-02-27  0.943756  0.034002  0.090080  0.337203  0.310727
2018-02-28  0.322521  0.357218  0.623072 -0.867844  0.586991
2018-03-01 -1.523862 -0.230797  0.397505  1.267260 -0.091274

In [4]:
df.shape

(60, 5)

In [5]:
df.head()

                   A         B         D         C         E
2018-01-01  1.391153  0.285898  0.313739  2.616455  0.971879
2018-01-02 -0.687585 -0.860727 -0.021874  0.674508 -0.810226
2018-01-03  1.068180  0.071712  0.040264  0.202015 -0.413125
2018-01-04  1.178959  0.247035 -0.391762  0.108596  2.447354
2018-01-05 -0.872684 -2.202909 -0.862197  0.918032 -0.249015

Adicionando colunas em um dataframe

In [6]:
df['F'] =1
#desta maneira adiciono uma nova coluna e ao deixar setado como 1, ele entende que todas as linhas terão valor 1

In [7]:
df.head(10)

                   A         B         D         C         E  F
2018-01-01  1.391153  0.285898  0.313739  2.616455  0.971879  1
2018-01-02 -0.687585 -0.860727 -0.021874  0.674508 -0.810226  1
2018-01-03  1.068180  0.071712  0.040264  0.202015 -0.413125  1
2018-01-04  1.178959  0.247035 -0.391762  0.108596  2.447354  1
2018-01-05 -0.872684 -2.202909 -0.862197  0.918032 -0.249015  1
2018-01-06  0.367839 -1.265289  1.931887 -0.888183 -0.820932  1
2018-01-07 -0.689094  1.254948 -1.745475  1.384014  0.329737  1
2018-01-08 -1.236173  0.234557 -0.156486 -0.198936  1.855440  1
2018-01-09  0.978857 -2.138799 -0.579231  0.901530  1.533030  1
2018-01-10 -0.389921  0.859550 -1.396112 -1.447600 -0.491322  1

In [8]:
df['G']=[10,3,5,7]
# Ao fazer isso o python interpreta que você está querendo atribuir apenas 4 itens , sendo que você te 60mlinhas e por isso ele quebra.

ValueError: ignored

In [10]:
df['G']=range(60)
df.head(15)

                   A         B         D         C         E  F   G
2018-01-01  1.391153  0.285898  0.313739  2.616455  0.971879  1   0
2018-01-02 -0.687585 -0.860727 -0.021874  0.674508 -0.810226  1   1
2018-01-03  1.068180  0.071712  0.040264  0.202015 -0.413125  1   2
2018-01-04  1.178959  0.247035 -0.391762  0.108596  2.447354  1   3
2018-01-05 -0.872684 -2.202909 -0.862197  0.918032 -0.249015  1   4
2018-01-06  0.367839 -1.265289  1.931887 -0.888183 -0.820932  1   5
2018-01-07 -0.689094  1.254948 -1.745475  1.384014  0.329737  1   6
2018-01-08 -1.236173  0.234557 -0.156486 -0.198936  1.855440  1   7
2018-01-09  0.978857 -2.138799 -0.579231  0.901530  1.533030  1   8
2018-01-10 -0.389921  0.859550 -1.396112 -1.447600 -0.491322  1   9
2018-01-11  0.488546 -0.391018 -0.501616 -0.856631 -0.264429  1  10
2018-01-12  1.137318 -1.588038 -0.092199  0.301825 -0.024709  1  11
2018-01-13  1.585454  0.101290 -0.821385 -0.879795  1.565179  1  12
2018-01-14 -0.293775 -0.460615  0.571490 -1.553108  0.298632  1  13
2018-01-15  0.547139  1.854004  0.504507 -1.268414 -1.020472  1  14

In [11]:
df['Produto']= df['A'] * df['B']
df.head(3)

                   A         B         D         C         E  F  G   Produto
2018-01-01  1.391153  0.285898  0.313739  2.616455  0.971879  1  0  0.397728
2018-01-02 -0.687585 -0.860727 -0.021874  0.674508 -0.810226  1  1  0.591823
2018-01-03  1.068180  0.071712  0.040264  0.202015 -0.413125  1  2  0.076602

In [12]:
1.391153 * 0.285898
#calculando para obter o produto dos dois valores, para conferir a coluna produto que foi criada, e foi inserido o produto referente as colunas A e B
# claro de forma arredondada

0.397727860394

In [14]:
df['D'] =88
#Ao fazermos isso estamos dizendo para trocar todos os dados da coluna D, por 88
df.head(3)

                   A         B   D         C         E  F  G   Produto
2018-01-01  1.391153  0.285898  88  2.616455  0.971879  1  0  0.397728
2018-01-02 -0.687585 -0.860727  88  0.674508 -0.810226  1  1  0.591823
2018-01-03  1.068180  0.071712  88  0.202015 -0.413125  1  2  0.076602